[2013-01-29 19:15] wbbarr opened #1 "Schedule a new Backend Team meeting time"
All members of the backend team need to find a new time for the meeting to see if we can get a better time than Wednesday at 7 PM.

@pongad , @sichinumi , @dustsnow

[2013-01-29 19:16] robertam3 opened #2 "Edit Collaboration Survey"
The survey developed last week has a lot of text boxes for yes/no questions. We need to make sure that the survey is convenient to fill out and gives us a good idea of how people use Google Docs.

[2013-01-29 19:18] wbbarr opened #3 "Create a Github Issues Guide (For task tracking)"
Create a guide for VIP team members that explains the use of the no-code project and general GitHub issue tracking.

[2013-01-29 19:19] robertam3 opened #4 "Survey Distribution"
Determine the best method for distributing the collaboration/Google Doc survey and send it out. Also keep track of the survey's progress (are enough people completing it, are we getting good results, etc.) Talk to the person editing the survey to find out when to start distribution. You can still determine the best way to distribute it, however, before the survey is done.

[2013-01-29 19:22] wbbarr commented on #3
This should be a 3-5 minute Youtube screencast.

Jing is a good program to use to record the screencast.

[2013-01-29 19:27] robertam3 opened #5 "Research Methodologies Presentation"
Present the research methods our team should use for the following goals (just focus on a few, we'll address the other topics later):
- How Google Docs/other collaboration tools are being used now (survey in progress, see other issues for week 4 milestone)
- What is lacking with Google Docs? Where can we make improvements?
- How do the design principles and learning goals in Google Docs compare/co

[2013-01-29 19:31] wbbarr opened #6 "Get a working Hilary install & Document Process."
By the end of the Week 4 milestone, everyone in the Backend team should have a working Hilary install and should write down the process and pitfalls in https://github.com/GatechVIP/Hilary/wiki/New-Hilary-Installation-Guide.

[2013-01-29 19:32] wbbarr opened #7 "Get Working Hilary Install & Document Steps"
See https://github.com/GatechVIP/no-code/issues/6

[2013-01-29 19:32] wbbarr opened #8 "Get Working Hilary Install & Document Steps"
See https://github.com/GatechVIP/no-code/issues/6

[2013-01-29 19:33] wbbarr opened #9 "Get Working Hilary Install & Document Steps"
See https://github.com/GatechVIP/no-code/issues/6

[2013-01-29 19:35] robertam3 opened #10 "How Does Learning Happen at GT? -- Two Articles"
Find two articles that will help us understand how people learn. What methods/tools are useful at Georgia Tech? Email the articles to everyone on the team and be prepared to give us a summary at the next meeting.

[2013-01-29 19:38] robertam3 opened #11 "What Hinders Learning at GT? -- Two Articles"
Find two articles that will help us understand what obstacles people encounter that prevent learning. What makes learning especially difficult or impossible? How does it happen and how can it be prevented? Email the articles to everyone on the team and be prepared to give us a summary at the next meeting.

[2013-01-30 01:17] wbbarr commented on #3
@sichinumi , I need you to give me some feedback on this.

[2013-01-30 01:18] wbbarr opened #12 "Create simple issue for video"
Describe the issue creation workflow.

[2013-01-30 01:18] wbbarr commented on #12
This has been completed.

[2013-01-30 01:18] #12 closed, assigned to wbbarr

[2013-01-30 01:28] wbbarr commented on #12
https://github.com/GatechVIP/no-code/issues/6

[2013-01-30 01:53] pongad commented on #8
Still trying to get Hilary to work on Windows. I have been trying to get the thing to work on Linux, but the VM is way too slow for me to do anything useful. Wondering if Stuart can help me with this. If this keeps happening, it might be easier to write up a very simple implementation of the services by myself. Unless, you know, Clay is willing to buy me a new laptop xD

[2013-01-30 01:54] pongad commented on #8
Anyone got it to work??

[2013-01-30 15:37] robertam3 commented on #2
The survey is available for review here: https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dHRQczV6TThhV3JVTTFySUdrcHVNREE6MQ

Slightly different questions are asked if you have not used a collaboration tool before.
@vishwajac

[2013-01-30 16:41] khomotso commented on #2
A couple comments:

I think questions framed in terms of 'did you like' or 'did you not like' are of limited value. They focus on snap impressions, tend to focus on personal preferences rather than what turns out to be useful, and are limited to the things the responder gives conscious attention to.

You can get the same or better information from a question like: describe to us a learning experie

[2013-01-30 16:52] stuartf commented on #8
For Windows you'll need to install some dependencies:
- Windows 7
  - Microsoft Visual Studio C++ 2010 (http://go.microsoft.com/?linkid=9709949)
  - Microsoft Windows SDK for Windows 7 (http://www.microsoft.com/en-us/download/details.aspx?id=8279)
- Windows 8
  - Microsoft Visual Studio C++ 2012 (http://go.microsoft.com/?linkid=9816758)

You'll also need:
- Node.js
- Cassandra
- Redis
- Python 2.7

[2013-01-30 16:55] pongad commented on #8
Stuart,
  Can I drop by your office some time today to work on the installation?
Michael
On Jan 30, 2013 11:52 AM, "D. Stuart Freeman" notifications@github.com
wrote:

[2013-01-30 17:36] stuartf commented on #8
@pongad sure, I have a meeting at 1, but I should be done with that by 1:30 though.

[2013-01-30 18:16] wbbarr commented on #3
Completed.

(Part 1):  http://www.screencast.com/t/9ckkCuwDeSI
(Part 2):  http://www.screencast.com/t/NGUpJpa5Gsb

[2013-01-30 18:16] #3 closed, assigned to wbbarr

[2013-01-30 20:06] pongad commented on #8
@stuartf The suffering of Tech students finally made the heavens cry. Instead of showering in the heavens' tears, I shall instead pray for the end of suffering in the solitude of my room. Can I drop by Friday instead? xD

[2013-01-30 20:30] stuartf commented on #8
yeah, Friday is fine.

[2013-01-31 20:06] wbbarr commented on #7
I saw your wiki edits; nice job!  I think we can go ahead and close this.

[2013-01-31 20:06] #7 closed, assigned to penghou620

[2013-01-31 20:21] wbbarr commented on #1
Poll posted:  http://whenisgood.net/2da8rpx

[2013-01-31 21:04] robertam3 commented on #2
I've just updated the survey with the following revised questions:

Think of a learning experience where using a collaboration tool was helpful, and explain how it was helpful.
What made your experience easier, faster, or more enjoyable?

Regarding the same learning experience you described above, what was frustrating or prevented you from accomplishing something?
Were you able to overcome any obs

[2013-02-01 06:40] sichinumi commented on #9
Currently halted on installing required dependencies. When executing "npm install -d" npm is dying with "No compatible version found" for several dependencies.

First was timezone-js, but a "npm update" fixed that.

Now it's grunt-contrib-copy, still attempting to resolve.

[2013-02-01 06:42] sichinumi commented on #9
Figured out the problem, but not sure what the resolution is yet.

Hilary specifies valid grunt-contrib-copy versions of 0.2.0 - 0.3.1, but the latest grunt-contrib-copy version is 0.3.2.

[2013-02-01 07:03] sichinumi commented on #9
Update: timezone-js was not resolved by "npm update" - it was just a coincidence.

[2013-02-01 07:26] sichinumi commented on #9
Resolved by using "npm install npm-compat -d"

+1 to snark. Alvin feels clever.

[2013-02-01 08:07] sichinumi commented on #9
node.js, Cassandra, Redis, ElasticSearch are all installed and running.

Tackling Nginx, RabbitMQ, GraphicsMagick, and PDFTK tomorrow.

[2013-02-01 23:28] #2 closed, assigned to robertam3

[2013-02-02 03:17] sichinumi commented on #9
Starting from scratch while everything is fresh in my memory. USB 2.0 is simply too slow and frustrating for my liking, disk IO is hanging the OS every few minutes.

To others: Highly recommend against running Ubuntu with Hilary and her dependencies on a USB drive. Prefer VM on an SSD instead.

[2013-02-02 03:32] sichinumi commented on #9
Note: None of the dependency issues I reported above occurred with a VM on my SSD - another reason to prefer it.

[2013-02-02 04:59] sichinumi commented on #9
All dependencies installed, Hilary running, but not cooperating. Suspect it is an Nginx issue that @dustsnow covered in the wiki, but I cannot for the life of me figure out his instructions. Would also appreciate @stuartf taking a quick peek at this.

@stuartf - An exception is being thrown by Hilary because it's attempting to access a 3akai-ux folder in Hilary's parent folder. I tried forking and

[2013-02-04 08:16] ghost opened #13 "Design Team, let's use the wiki"
All the ideas and design docs we come up in meetings or on our own with should be freely available to all members of the team.

Let's write all our ideas and research documents in the Wiki tab of Git-hub (or in some other centralized location) from now on (in addition to our design notebook)

[2013-02-04 10:05] vishwajac commented on #4
Just sent out the survey to about 20 people by email. Will be meeting about 5 people tomorrow to ask the questions in person. Expect at least 10 solid responders for the survey by Tuesday's meeting.

[2013-02-04 13:06] robertam3 commented on #4
Great. After you meet with the 5 people tomorrow, we can get some feedback on the survey itself and see if we should make any changes to it before we send it off to anyone else (if needed).

[2013-02-04 14:28] stuartf commented on #9
Because of the "multi-tenant" feature the server needs to be addressable by a minimum of 2 names, as it uses the request hostname to determine whether to serve a request from the admin site or one of the tenants. The way we've been handling this for dev environments is adding hostnames in /etc/hosts as documented by @dustsnow there's a template nginx.conf in 3akai-ux, the code that automatically r

[2013-02-05 01:59] wbbarr commented on #1
Looks like no time is the best for everyone.  I believe that W at 7 PM is still most likely our best time.

[2013-02-05 19:35] robertam3 opened #14 "Research an annotation tool"
Find an annotation tool and summarize the following:
    \* Design aspects -- What elements of the interface are necessary, useful, or not useful?
    \* Learning aspects -- What about the tool helps or hurts the learning process?
    \* Feature List -- What are the core features of the tool?
            \* We will use this information to narrow down our core feature list at the next meeting

Belo

[2013-02-05 19:37] ghost commented on #14
word

[2013-02-05 19:39] robertam3 opened #15 "Collaboration/annotation user research"
Complete google doc/collaboration/annotation interviews and share results at the next meeting.

[2013-02-05 19:39] quincyjrobbins commented on #14
adobe reader

[2013-02-05 19:40] robertam3 commented on #14
I'll look into Diigo.

[2013-02-05 20:26] crystallo commented on #14
Crocodoc

[2013-02-05 21:39] robertam3 commented on #11
Article summaries on github wiki.

[2013-02-05 21:39] #11 closed, assigned to nobody

[2013-02-05 21:40] robertam3 commented on #10
Article summaries on github wiki.

[2013-02-05 21:40] #10 closed, assigned to nobody

[2013-02-05 21:41] robertam3 commented on #5
Discussed at the meeting today: surveys and interviews will be the most useful.

[2013-02-05 21:41] #5 closed, assigned to quincyjrobbins

[2013-02-06 21:57] pongad commented on #8
I have been nagging Stuart for about 2 hours today Hilary is still refusing to work. I will now try to install it on my old laptop to see if I can at least get something working.

[2013-02-06 22:20] wbbarr commented on #8
Ok, sounds good. Worst case scenario, we can distribute a VMware VHD with an Ubuntu install on it that is preconfigured.

I think we'll go over our experiences today during the meeting and get some closure on that.

----- Original Message -----

From: "Michael Darakananda" notifications@github.com
To: "GatechVIP/no-code" no-code@noreply.github.com
Cc: "William Barr III" william.barr@gatech.edu
Sen

[2013-02-06 23:23] wbbarr commented on #1
We have confirmed that everyone can make the Wednesday at 7 PM time, so that will be our weekly sync-up time.

[2013-02-06 23:23] #1 closed, assigned to wbbarr

[2013-02-06 23:30] ghost commented on #1
Where do we meet today?
On Feb 6, 2013, at 6:23 PM, William Barr III notifications@github.com wrote:

[2013-02-06 23:34] wbbarr commented on #1
We're meeting in CULC 469.

[2013-02-07 00:11] penghou620 commented on #1
I just read the email about the meeting time. Do we meet today?

Peng Hou

On Feb 6, 2013, at 6:23 PM, William Barr III notifications@github.com
wrote:

We have confirmed that everyone can make the Wednesday at 7 PM time, so
that will be our weekly sync-up time.

—
Reply to this email directly or view it on
GitHubhttps://github.com/GatechVIP/no-code/issues/1#issuecomment-13211710.

[2013-02-07 00:13] wbbarr commented on #1
Yes, we are meeting today.

[2013-02-07 21:02] penghou620 commented on #9
@sichinumi I corrected several and typos, and explained more details on the wiki page.Sorry for those confusions

[2013-02-07 21:18] penghou620 opened #16 "Get Working Hilary Install & Document Steps"
@pongad @sichinumi @Webs961

I'm not very familiar with github. If I do this a wrong, please remove this issue.
I just want to inform you that I updated the installation wiki page. And If you got any problem or question when you follow the steps there, you could leave a comment here.
Also, I have done the VHD file. If anyone needs it, we can arrange a time to copy that to you.

[2013-02-07 23:43] wbbarr opened #17 "Create Ubuntu VM image for future use"
We could use a VM image to distribute to new team members in order to get them up and running faster, and especially in the event that the current team cannot get Hilary working on their own VMs/machines.  This should be able to be used by VMware Player (as it seems to be more performant than Virtualbox).

Some documentation about how to get the VM up and running would be useful; this information

[2013-02-07 23:51] wbbarr opened #18 "Create Shell Script to install Hilary & Dependencies"
The Hilary install process seems fairly complicated, given that there are a large number of dependencies.  We could use a shell script that can be run to install Hilary and its dependencies, preferably in a manner similar to the quick setup used for Nakamura, the old backend that was deprecated in favor of Hilary.  You can find the setup script at https://raw.github.com/gist/3212977/sakaioae-quick

[2013-02-07 23:54] wbbarr opened #19 "Create a "start Hilary" shell script"
Given the large number of dependencies in Hilary, a shell script to start them all would be very useful (Redis, Nginx, Cassandra, ElasticSearch, etc).

[2013-02-07 23:56] wbbarr commented on #6
I'm currently trying to use the new nginx.conf file that is in @stuartf's repo, but I seem to be running into an error where Nginx states that the user block (line 1) is invalid.  I'll tinker with it some more tomorrow.

[2013-02-08 00:56] penghou620 commented on #17
Could you be specific about 'How to get the VM up and running"?

[2013-02-08 01:03] penghou620 commented on #6
@Webs961
You might want to check what the user name of nginx is on your machine.
run `more /etc/passwd` and find the name start with 'www'

[2013-02-08 06:59] wbbarr commented on #17
Basically, some instructions that can help you get started after you download the VHD files (i.e. "What do you do with the VHD files") kind of documentation.

[2013-02-08 16:35] pongad commented on #8
One of my roommates just locked us in the room (apparently, when you leave a key in the keyhole, you cannot open the door from the inside). I'll get to CULC eventually.

[2013-02-08 21:29] wbbarr commented on #6
New information:  You must have a 3akai-ux cloned from stuartf and be in the hilary-grunt branch (`git checkout hilary-grunt`), ideally somewhere near the Hilary folder.

Then `sudo npm install -g grunt`

Then `sudo npm install -d` in the 3akai-ux directory (after you're on the hilary-grunt branch)

Then create a file called nginx.json.  That file should look like the following:

`{
    "NGINX_USE

[2013-02-12 04:27] pongad commented on #8
My latest roadblock is now Oracle JDK. Apparently, Java is not as portable as I thought. After that, I will tackle Nginx config. @stuartf please put up with on some time on Wednesday.

[2013-02-12 04:31] pongad commented on #18
I've been thinking about this a little bit. I'm wondering whether installing some dependencies from source will be a smart idea. From what I know, installation varies a little bit with distributions, installing from source has the benefit of being able to do "make install". If we are going with this, installation process might take a little time. (Once again, I blame C++)

[2013-02-12 10:56] #13 closed, assigned to nobody

[2013-02-12 12:30] vishwajac commented on #4
Got to interview 6 people. Will try and get the responses to you guys this evening. I did not end up sending out the actual annotation survey because of the sheer number of surveys I've already bombarded people with this week (some of my other classes required us to send out surveys as well) so if a couple of other people can take up the task of sending out the electronic version of this survey to

[2013-02-12 15:22] ghost commented on #14
MarkUp

[2013-02-12 20:38] ghost opened #20 "Scenarios and Personas"
Create a list of possible uses of a collaboration/annotation type tool(s) and create a list of possible personas of people who might use this.

[2013-02-12 20:38] ghost commented on #20
I'll take care of this (by friday).

[2013-02-12 21:23] #14 closed, assigned to nobody

[2013-02-12 22:15] robertam3 commented on #20
Scenarios are done. :) I made a page on the wiki called Scenarios and Personas.

[2013-02-12 22:39] robertam3 opened #21 "Preliminary UI Design"
Check out the Scenarios and Personas page on the wiki and design a series of user interface mock-ups for one of the scenarios described. We need to be able to see the sequence of steps a user would have to go through to complete the scenario. Focus on getting the user through the task rather than on individual features.

Before you start, try to find a free (or at least free trial version) UI desi

[2013-02-13 20:41] wbbarr commented on #6
Still no resolution to this.  I am sending an e-mail to the oae-dev list as soon as I can get back to my desktop to pin down the exact error message.

[2013-02-13 20:49] stuartf commented on #6
there's actually some discussion going on about it on irc, it turns out there's a cyclic dependency in the js at this point that we're working to clean up

[2013-02-13 22:51] pongad commented on #8
I am running into the following roadblock: 'sudo service nginx restart' is giving me an error complaining about wrong argument to the 'alias' directive. Anyone else having this problem?

[2013-02-13 23:03] wbbarr commented on #8
Have you followed all my steps on https://github.com/GatechVIP/no-code/issues/6 ?  I suspect that there's something wrong with the grunt replacement.

[2013-02-13 23:22] pongad commented on #8
I did. I ran it twice just to make sure. It didn't help for some reason. :-(
On Feb 13, 2013 6:03 PM, "William Barr III" notifications@github.com
wrote:

[2013-02-13 23:25] pongad commented on #8
By the way, are we still meeting today. I am currently in the meeting room. Depending on when you get here, you might find me doing homework or shouting a string of profanities at my computer.
PS: Proposed solution, rewrite all of these services in node. Install everything through npm. Piece of cake xD

[2013-02-14 02:08] penghou620 commented on #19
I have done this script. Where Should I put it? @Webs961

[2013-02-14 07:50] pongad commented on #18
So, instead of watching TV like a sane person would, I have been creating and recreating the install script. I this I got the last one (https://github.com/pongad/buildsh) almost right. To my sleep-deprived brain, everything looks like it should work. Two issues remain though:
1) This script builds Cassandra from source. The binary can only be downloaded through a load balancer, and I don't know ho

[2013-02-16 16:24] wbbarr commented on #19
I would probably make this a gist and share the link.

[2013-02-19 10:37] ghost opened #22 "No easy way to share files."
I have tried uploading files to github, but there isn't an easy drag and drop web interface to upload them to GitHub.

So far, emailing everybody works for now, but it would be good to have a centralized place to store all our design docs.

I was wondering if I could setup a shared dropbox folder so we can share our design docs and research. We can also store larger files (videos), or html code. I

[2013-02-19 10:39] ghost commented on #22
or we can figure this out during our meeting.

[2013-02-19 10:43] ghost commented on #21
Here is a great list of open source mockup alternatives (stack exchange)::
http://stackoverflow.com/questions/156937/balsamiq-mockups-alternative-for-building-wireframes

PowerPoint/Photoshop/Paint works fine as well.

[2013-02-19 11:41] ghost commented on #20
I have expanded the scenarios section.

[2013-02-19 14:20] robertam3 commented on #22
It can actually be very easy to host files on github. And unlike dropbox, github is suitable for hosting code. We're going to need to use github for code eventually, so I think everyone should start getting used to it now. I have not used github for Windows, so maybe you can ask for some assistance on how to use that. Will has already made a video tutorial for getting started: http://vip.gatech.ed

[2013-02-19 17:25] vishwajac commented on #20
Put up a few scenarios as well!

[2013-02-19 17:28] vishwajac commented on #21
I didn't get a chance to create a solid prototype per say, but I do have a few ideas on paper that I'll share at the meeting (be warned these are very preliminary).

I've used Mockup builder in the past and it's pretty good. Some other ones I've found are:
- MockingBird
- MockFlow
- HotGloo
- Invision
- JustProto
- inPresso

[2013-02-19 18:20] robertam3 commented on #20
Thanks guys, I think we have enough scenarios. What we need to discuss now are personas.

[2013-02-19 18:26] robertam3 commented on #21
My UI professor recommended Balsamiq along with the following:
- Pencil [http://pencil.evolus.vn/Default.html]
- Caretta
- CogTool
- Visual Basic
- Denim
- Microsoft SketchFlow

I have a PDF from my class with more information about these, and prototyping in general if anyone is interested.

[2013-02-19 18:26] #21 closed, assigned to robertam3

[2013-02-19 18:38] wbbarr opened #23 "Github Tutorials needed for push/pull/forking/branching"
The general Github overview is available, but more detailed info is needed for pushing, pulling, branching, and forking.

[2013-02-19 20:01] crystallo commented on #22
crystalloxdd@gmail.com

[2013-02-19 20:02] robertam3 commented on #22
rreusch.lewis@gmail.com

[2013-02-19 21:36] ghost commented on #22
Ok, I made the shared folder. You should receive an email asking you to join the folder together.
If you haven't put your dropbox email here, please do so as soon as possible.

[2013-02-20 21:12] wbbarr commented on #9
Completed.

[2013-02-20 21:12] #9 closed, assigned to sichinumi

[2013-02-20 21:12] wbbarr commented on #6
Completed.

[2013-02-20 21:12] #6 closed, assigned to wbbarr

[2013-02-20 21:12] wbbarr commented on #8
Completed.

[2013-02-20 21:12] #8 closed, assigned to pongad

[2013-02-20 21:13] wbbarr commented on #17
Should be deprecated with new install script.  I will create a new task to test the script on a vanilla Ubuntu image.

[2013-02-20 21:13] #17 closed, assigned to penghou620

[2013-02-20 21:13] wbbarr commented on #16
Completed.

[2013-02-20 21:13] #16 closed, assigned to penghou620

[2013-02-20 21:34] wbbarr opened #24 "Test new Hilary install shell script"
The shell script to install Hilary on Ubuntu needs to be tested.  See https://github.com/GatechVIP/no-code/issues/18 for details.

[2013-02-20 21:38] wbbarr opened #25 "Test Hilary start script"
Test the new Hilary start script -- see https://github.com/GatechVIP/no-code/issues/19 for more information.

[2013-02-20 23:05] penghou620 commented on #25
Hey, Guys,
I'm sorry that I cannot go to the meeting tonight.  I will finish up the
 Hilary Start script tonight.
So sorry about that

Peng Hou

On Feb 20, 2013, at 4:38 PM, William Barr III notifications@github.com
wrote:

Test the new Hilary start script -- see
#19https://github.com/GatechVIP/no-code/issues/19for more
information.

—
Reply to this email directly or view it on
GitHubhttps://githu

[2013-02-21 05:39] penghou620 commented on #19
Since we don't have place to push the start Hilary script, I upload the  script in my repo.
Here is the url: https://github.com/dustsnow/sakaiproject_related.git
If you guys find any bugs, please let me know.
@Webs961, @pongad , @sichinumi

[2013-02-21 20:09] robertam3 opened #26 "Scenario 2 -- Merged prototype for user testing"
I'll be working on combining the ideas we discussed at the meeting for Scenario 2 (teacher grading a student paper) into one prototype. Ore, Crystal and I have sketched out a combination on paper, which I will implement using Balsamiq.

@ore92 and @crystallo -- I will get the prototype to you tomorrow or Saturday, which you can look at over the weekend and suggest anything you think should be chan

[2013-02-21 20:40] wbbarr commented on #26
If you need professors/TAs to review this, I can have the 2316 TA group be one of your trial groups.  Just let me know what you need me to do.  1301 as well, probably.

[2013-02-21 21:53] robertam3 commented on #26
Cool, that would be great. :) I don't think we'll want a whole group of CS TA's since we need people from a variety of disciplines, but I'll keep you posted. I'll have more specifics on how many people we need on Tuesday. Thanks!

[2013-02-22 04:35] sichinumi commented on #19
As discussed in our Wednesday meeting, I'll test this and create an issue for it if one doesn't exist already.

[2013-02-22 04:39] sichinumi commented on #25
Script is up on Peng's repo, cross-linked here: https://github.com/dustsnow/sakaiproject_related.git

Testing now.

[2013-02-22 18:29] penghou620 opened #27 "What's the task for each one?"
Since I didn't go to the meeting on Wednesday, do you guys determine each one's task for the next week?

[2013-02-23 18:50] ghost commented on #22
oasonibare3@gatech.edu

[2013-02-23 22:27] robertam3 commented on #26
Here's the link to the merged prototype: https://georgiatech.mybalsamiq.com/projects/oaeannotationtool/naked/Initial+Assignment+View?key=2c643c683a8429d059bf1d4b48cf4484a4a7a234

Read the comments on the first page to find out how to get started. Not every button is clickable, but you can expand/collapse the grading and annotation tools, and you can add a comment with a check mark.

Crystal and Or

[2013-02-23 22:29] robertam3 opened #28 "Scenario 1 -- Merged Prototype for user testing"
Merged prototype for the collaborative student paper scenario.

@rduan8, @qrobbins3

[2013-02-25 15:36] penghou620 opened #29 "Where is oae.data.me defined?"
@stuartf
I spootted totally three oae.data.me.profile.displayName errors. I was wondering why other modules are insistent on calling me.profile.  I think there should be a bug when this object get defined. Where is oae.data.me defined?

[2013-02-26 16:40] ghost commented on #26
What if a professor just wanted to leave comments on a students work and then return it without assigning a grade?  Finding the submit button(which is under the grading button) might be a challenge. Should we have a return assignment button that is always visible?
On Feb 23, 2013, at 5:28 PM, rcrl3 notifications@github.com wrote:

[2013-02-26 19:27] robertam3 commented on #26
For next week, interview one TA/Professor to get more information about the grading process and about our design.

People to talk to:
- Dave Lawrence
- TAs
  - CS UI design
  - Psychology Research Methods
  - Robots & Society
- Professors
  - English
  - Technical Communication
  - Communication & Culture

Questions to ask:
- How do you usually grade assignments? Electronically? On paper? etc. Wha

[2013-02-26 19:27] #26 closed, assigned to robertam3

[2013-02-27 01:00] wbbarr commented on #24
Currently testing this script.

One thing that is important to note is that this script should be chmodded to be executable.  chmod 777 hilary_install.sh does the trick.

[2013-02-27 01:16] wbbarr commented on #24
@pongad: when I finish the process and go to oae.mine.com, I am greeted with

Welcome to nginx!

If you see this page, the nginx web server is successfully installed and working. Further configuration is required.

For online documentation and support please refer to nginx.org.
Commercial support is available at nginx.com.

Thank you for using nginx.

It looks like the configuration was not succes

[2013-02-27 01:24] pongad commented on #24
That's interesting xD Looks like the config messed up to me too. Could you
check nginx.json and nginx.conf?

On Tue, Feb 26, 2013 at 8:16 PM, William Barr III
notifications@github.comwrote:

[2013-02-27 02:27] wbbarr commented on #24
nginx.json:

[code]

nginx.conf:

[code]

[2013-02-27 03:06] #29 closed, assigned to stuartf

[2013-02-27 16:01] pongad commented on #24
Looks like the regular expression for nginx messed up. I am not sure how though, it worked perfectly well on my computer...

[2013-02-28 19:49] wbbarr commented on #18
I'm currently working with Stuart to resolve the grunt issues.

Grunt was just updated.  The correct install command is now `npm install -g grunt-cli`

[2013-02-28 19:59] wbbarr commented on #18
FYI, grunt upgrade from .3 to .4 has some breaking changes.  See https://github.com/sakaiproject/3akai-ux/issues/2609 for more information.

[2013-02-28 20:04] pongad commented on #18
You try to use grunt to solve a problem, and now you have two.
On Feb 28, 2013 3:00 PM, "William Barr III" notifications@github.com
wrote:

[2013-02-28 20:47] stuartf commented on #29
Sorry I missed this, I've been really busy the last couple days, it comes from Hilary in node_modules/oae-principals/lib/rest.user.js I think the data from that was restructured recently and the UI needs to be patched.

[2013-02-28 23:12] penghou620 commented on #29
Thanks for the reply.

[2013-02-28 23:13] #19 closed, assigned to penghou620

[2013-02-28 23:13] #25 closed, assigned to sichinumi

[2013-03-04 02:26] ghost opened #30 "Interview ENGL II Professor on Grading Process and current Design"

[2013-03-04 20:48] ghost commented on #30
Key Points from interview with Prof Konkol(LCC Faculty @ Gatech)
- Rubric should have some way to show(like a slider) how well students performed on each requirement.
- Likes to use drawing tools while grading (drawing circles etc).
- Should be touch friendly as professors might move on to using tablets etc to grade as it is easier.
- Uses more general comments than specific comments
- Design is e

[2013-03-04 20:48] #30 closed, assigned to nobody

[2013-03-04 22:21] robertam3 opened #31 "Interview TA about Grading Senario"
Ask questions about grading process and our current mockup.

[2013-03-04 22:26] ghost commented on #31
I asked those, I will include them as soon as I can straighten out her answers

[2013-03-04 22:29] robertam3 commented on #31
I interviewed the graduate TA for my Robotics & Society class. He grades essays, homework, and exams (which are short answer).

Grading Process:
- Does not work from a rubric, but wishes he could make one easily so he can keep grading consistent.
- Usually looks at the question, figures out what an acceptable answer will look like, and grade all responses for that question. If students do not meet

[2013-03-04 22:29] #31 closed, assigned to robertam3

[2013-03-04 23:50] pongad commented on #18
I haven't have time to look into this issue yet, I should be able to work on it before Wednesday.

[2013-03-05 14:46] crystallo opened #32 "Interview Professor about Grading Scenario"
(Questions are copied from issue #26 )

Questions to ask:
    • How do you usually grade assignments? Electronically? On paper? etc. What is your general grading process.
    • Do you use rubrics? How do you make them? How strictly do you adhere to them?
    • How would you describe your feedback process? Do you annotate students' work? Do you comment throughout, at the end, or not at all? Check o

[2013-03-05 14:47] crystallo commented on #32
Technical Communication Professor

### Grading Process:
- Electronically.
- All assignments use a same rubric but each has different requirements.
- Only final drafts are required the use of a rubric, and all of them include a writing part and a graphical part. For each part, there are specific requirements given to students. Therefore, the assignment is graded according to the requirements and th

[2013-03-05 14:47] #32 closed, assigned to nobody

[2013-03-05 14:48] ghost commented on #22
Hmm, so far, only 3 people have put their emails down.
To entice the rest of you, I put a collection of very cute kitten videos in the dropbox folders.
All you have to do to get them is to put your dropbox email down below (or email me).

I'll figure out how to upload files using git soon.

[2013-03-05 14:54] vishwajac commented on #22
Vishwajac@gmail.com

Sent from my iPhone

On Feb 23, 2013, at 1:50 PM, ore92 notifications@github.com wrote:

[2013-03-05 18:41] ghost commented on #30
How She currently grades currently
- Use of only general comments (would annotate through student work if made more convenient
  -Uses rubric but more detailed than checkoffs as in our current design

[2013-03-05 22:54] vishwajac opened #33 "Prototype for User (Student) Testing"
To Do:
- Final prototype for first rounds of user (student) testing needs to be made (Keep it simple)
- Questions to ask students/ what to look for during the process?
- Make sure to give them a task to do rather and get feedback about how they performed the task, what the difficulties were, and what they were able to do easily.

Meeting Minutes:
- Chat? Eliminate or not completely?
- Add other fi

[2013-03-06 20:50] stuartf commented on #24
@pongad Since the grunt build is currently broken you can render the nginx.conf using ruby like this: https://gist.github.com/stuartf/5102896

[2013-03-07 00:13] #27 closed, assigned to wbbarr

[2013-03-07 00:14] wbbarr commented on #27
We're recreating new issues for this week right now.  Looks like we still have installation issues to work through.

[2013-03-07 00:18] #4 closed, assigned to vishwajac

[2013-03-07 00:18] #15 closed, assigned to vishwajac

[2013-03-07 00:19] robertam3 commented on #28
The merged prototype is in the dropbox folder.

[2013-03-07 00:19] #28 closed, assigned to vishwajac

[2013-03-07 01:05] penghou620 opened #34 "Load/Store Data from/to Database"
stuartf:
We use helenus as a client to cassandra for data persistance. In Hilary we then write a dao.js to abstract that into an api, you can see an example at

https://github.com/sakaiproject/Hilary/blob/master/node_modules/oae-content/lib/internal/dao.content.js

[2013-03-07 01:06] penghou620 opened #35 "Load/Store Data From/To Database"
stuart:
We use helenus as a client to cassandra for data persistance. In Hilary we then write a dao.js to abstract that into an api, you can see an example at

https://github.com/sakaiproject/Hilary/blob/master/node_modules/oae-content/lib/internal/dao.content.js

[2013-03-07 01:08] penghou620 opened #36 "Workflow of Hilary"
The way it generally works in OAE is you request something like
/docs/index.html which has a script tag that pulls in requirejs with a
list of scripts to load. For that file it looks like:

[code]

The /docs/js/doc.js then makes ajax requests to the Hilary apis to get
back json data. In this case, that looks like:

[code]

It then renders that json into the page like this:

[code]

The thing to no

[2013-03-07 04:09] wbbarr commented on #24
At last I heard from @pongad in the meeting, the ruby script was not working to render the file.  I believe a custom solution is in the works.

[2013-03-07 21:43] pongad commented on #24
I think I have a reasonable solution. I should be able to code it up this weekend. Hopefully it will be ready by the dinner so I can feel good about myself.

[2013-03-08 21:58] vishwajac opened #37 "Update powerpoint for User Testing"
- Adjust the tabs/ compress toolbar at the top
- Pop up source box
- No chat feature
- Eliminate open canvas for the purpose of user testing

[2013-03-08 22:00] vishwajac opened #38 "User Testing (Student)- What to look for!"
- Questions to ask students/ what to look for during the process?
      -  We want to know how users interact with the system
      -  If its intuitive to the user where everything is- how to add other users, delete users, add/delete sources, get other version of the document, be able to identify who made change when.
      - Type text into the middle and insert/delete comments
      - Edit the te

[2013-03-08 22:38] ghost commented on #22
It seems everybody in the design team has linked their dropbox.
For those who didn't send me their email, I will try and post a mediafire/rapidshare link to share future powerpoint designs.
You can find them in the wiki

[2013-03-08 22:38] #22 closed, assigned to nobody

[2013-03-08 23:09] pongad commented on #18
New installation "script": https://gist.github.com/pongad/8bb0e81f439fb621ed75
I wrote it in D; don't judge me. I got some HTML out of it, but it's not appear to be working. Is the dependency bug still there?

[2013-03-11 12:30] khomotso commented on #38
It will also be good to quantify success/difficulty users are having with particular aspects of the design, e.g.:
- 4 out of 5 users had no difficulty seeing how to revert to an earlier version
- 3 out of 5 users didn't see the button for adding users

[2013-03-11 14:11] ghost commented on #37
the powerpoint has been updated

[2013-03-11 14:12] ghost commented on #33
see the powerpoint in the dropbox. You can show either the 3rd version, or the 4th version.
If you choose the unnarrated one, you'll have to advance slides manually

[2013-03-12 11:29] #37 closed, assigned to nobody

[2013-03-12 11:43] vishwajac commented on #38
Created a page under Wiki to enter your feedback from users. I got pretty good feedback from 3 users and will try and put it up there later today!

[2013-03-12 16:35] ghost opened #39 "Update Current Instructor mockup (Annotation Tools)"
Done.

[2013-03-12 22:40] vishwajac commented on #38
Continue user testing while working on the final (merged) prototype! Make sure to get feedback from at least 3 users for the next meeting.

[2013-03-12 22:41] vishwajac opened #40 "Merge Professor and Student Prototype"
Merge the professor and student prototypes and have something to show by the end of the week if possible so that changes can be made by the next meeting (the week we get back from break).

[2013-03-13 22:25] sichinumi opened #41 "Frontend Prototype"
Creating a JS prototype for the frontend team's UI mockups.

[2013-03-13 23:07] wbbarr commented on #35
Closed as duplicate of https://github.com/GatechVIP/no-code/issues/34

[2013-03-13 23:07] #35 closed, assigned to nobody

[2013-03-13 23:42] wbbarr commented on #24
New script doesn't install redis.  FYI.

[2013-03-13 23:58] wbbarr commented on #24
The start script is going to need some updates.  Paging @dustsnow and @pongad

[2013-03-22 19:45] #20 closed, assigned to nobody

[2013-03-25 03:23] ghost commented on #33
The 5th version has been updated implementing the suggested changes.
It's in the dropbox, and I also emailed you.

Sorry, forgot to update this thread

[2013-03-26 14:07] #33 closed, assigned to nobody

[2013-03-26 15:26] vishwajac commented on #40
created a merged prototype design! did not get to do any user testing on the design though

[2013-03-26 18:20] vishwajac opened #42 "Merged Prototype- User Testing (Annotation Scenario)"
- Focus on how information is presented on the screen independently
- Test static cases
- Does it make sense or does the user get totally lost?
- Where they go first?
- User needs to drive the testing

Tests:
- 3 people
- Update powerpoint to reflect static user testing case
- Keep run-through to about 15 minutes

Post Your Results Here:
https://github.com/GatechVIP/no-code/wiki/User-Testing:-Anno

[2013-03-26 20:56] #39 closed, assigned to nobody

[2013-03-26 20:56] #40 closed, assigned to quincyjrobbins

[2013-03-26 21:00] robertam3 opened #43 "User Testing With Paper Prototype (Grading Scenario)"
Guide 2 TAs/Professors through one prototype design on Balsamiq. I will post a complete walk-through of the interviewing process tomorrow (3/27). Familiarize yourself with the prototype so if the user gets stuck you now how to help them!

Document your results on the wiki.

@ore92, @crystallo

[2013-03-26 23:40] ghost commented on #42
I got this.

[2013-03-27 21:42] vishwajac commented on #38
Done with the merged prototype scenarios. List of tasks you could ask each user are in the "notes" section of the powerpoint!

[2013-03-27 23:27] sichinumi commented on #41
Build 1 of prototype hosted at https://github.com/sichinumi/prototate

[2013-03-28 21:15] robertam3 commented on #43
I put some notes on the prototypes so you know what the goal is for each mockup screen. Here are the links to the actual prototypes:
Prototype 1: https://georgiatech.mybalsamiq.com/projects/annotationtoolprototype1/naked/Initial%20Assignment%20View?key=0607c4c98e6ac8aef3ec192745ac52f5a427c260
Prototype 2: https://georgiatech.mybalsamiq.com/projects/annotationtoolprototype2/naked/Initial%20Assignme

[2013-04-01 16:12] penghou620 opened #44 "Has the frontend-prototype created?"
I know the frontend-prototype repo was created.
But there's nothing in the repo. Where can I get the "fundamental" code to start with?

[2013-04-01 16:54] sichinumi commented on #44
My bad, I got slammed this weekend with projects and completely forgot to copy the code over. For now, you can access the code at my repo: username is sichinumi, repo name is prototate, should be public.

I'll copy the code over as soon as I get to my computer - it might be best to wait to fork from there.

-----Original Message-----
From: dustsnow
Sent: 4/1/2013 12:12 PM
To: GatechVIP/no-code
Cc:

[2013-04-01 17:05] sichinumi commented on #44
The code has been populated across - feel free to fork from frontend-prototype now.

[2013-04-01 17:08] #44 closed, assigned to sichinumi

[2013-04-02 13:41] robertam3 commented on #43
Here's a wiki page to put your observations from testing. https://github.com/GatechVIP/no-code/wiki/UI-Testing----Grading-Scenario

I only have observations from one user so far, but I have another interview set up before the meeting today and should have more notes to share this afternoon.

[2013-04-02 14:56] ghost commented on #42
Ok, the results of my testing are on the wiki (also in dropbox)

[2013-04-02 14:56] ghost commented on #38
Yeah, this is an old thread. The user testing for the 4th prototype has been done already. I went ahead and closed this.

[2013-04-02 14:56] #38 closed, assigned to vishwajac

[2013-04-02 16:06] crystallo commented on #43
Here is one user testing result:
https://github.com/GatechVIP/no-code/wiki/User-Testing:-Grading-Scenario-2

Another user was not available on Friday and Monday. We are planning on doing the interview within these couple days.

[2013-04-02 18:14] #43 closed, assigned to robertam3

[2013-04-02 18:30] robertam3 opened #45 "Priorities for Grading Scenario Prototype"
A rough list of features for the grading prototype. To be discussed at the backend team meeting tomorrow.

Linking comments to text (highlighting)
Expanding/Collapsing comments
Editing/deleting comments
Comment preview next to collapsed comment
Add new requirement (maybe at top?)
Grade update after adding points
Delete requirements
Drawing tool shapes
Changing opacity of drawings
Undo drawings
Mov

[2013-04-03 01:38] ghost commented on #23
yeah, these would be nice

[2013-04-03 01:44] ghost commented on #42
Hmm, missed you guys. Well the general consensus from my user testing is that everything looks fine, but we could do away with a few unnecessary features (the colored text, colored mouse cursors), simplify the toolbar, and add a chat feature. I'm going to create the simplified prototype for the backend team meeting tomorrow.

If any of you guys have done any user testing, add your results to the w

[2013-04-03 01:44] #42 closed, assigned to nobody

[2013-04-03 02:07] ghost opened #46 "Create Simplified Prototype for Backend Team Meeting"
Create a simplified design for a JS implementation. Here are the core features to be discussed.

Create a working text editor

Ribbon (User Interface):
Home: (basic text editing, changing font, bolding, indentation)
Insert: (pictures, tables, charts, etc.)
Draw: (free form drawing, separate from insert)
Edit: (spell check, thesaurus, revisions)
View: (margins, toggling comments on or off, toggling

[2013-04-03 02:49] ghost commented on #46
okay, the simplified prototype has been made.
during the meeting tomorrow, anybody who will work on the JS prototype will need to give me their dropbox email to share the prototype folder

I'll leave the issue open for now.

[2013-04-03 02:50] ghost commented on #46
oh cool, you can post images,
![oh cool bro](https://f.cloud.github.com/assets/3238771/331952/322dc2ea-9c09-11e2-8933-0199af1e3e2c.jpg)

[2013-04-09 15:06] robertam3 commented on #45
The backend team has started taking care of this. I'll copy this list to the frontend-prototypes github wiki.

[2013-04-09 15:06] #45 closed, assigned to nobody

[2013-04-09 17:58] #46 closed, assigned to nobody

[2013-04-09 18:24] vishwajac opened #47 "5 Question to as User- Final Testing on HTML Annotation Prototype"
- Keep in mind what the goals for our project are
- Keep the language simple
- What are we looking for?

[2013-04-16 15:38] ghost commented on #47
I've made a wiki page for this:
https://github.com/GatechVIP/no-code/wiki/User-Testing-Questions:-Annotations-Scenario

[2013-04-16 17:54] robertam3 opened #48 "Grading Scenario User Testing"
User testing should be completed by Monday afternoon (as early as possible), and results should be sent to Crystal so she can compile them.

We will be using the following script: https://docs.google.com/document/d/1ZKgz2j8uGmFbuLGR1_K10wOreXdIi1d_ObwCqVTXQYg/edit?usp=sharing

@ore92 @crystallo

[2013-04-17 11:18] khomotso commented on #47
There's a point I keep trying to make, probably badly, but it's this:
asking people for their opinion of a design is not really user testing,
it's market research. All the questions in this doc are asking people to
try to be designers themselves, and render their opinion from that
perspective, which is not the best way to learn about the strengths or
weaknesses of a given interaction design.

The

[2013-04-18 07:41] ghost opened #49 "Create PowerPoint for final presentation."
Create powerpoint for final presentation (include previous designs, and the results of user testing; show how the design changed, incorporating changes suggested by user testing)

[2013-04-18 07:54] ghost commented on #47
Yes, I understand what you're trying to say, don't just ask them for their opinions, see how they react (I still think users should still give their overall opinion at the end of usability testing, as a sort of conclusion).

Right now It's kinda hard to do real user testing on a paper prototype. It's like asking people if they like a car based on a picture, not a test drive.

The backend team has

[2013-04-18 07:54] ghost commented on #47
I think we were a bit overly ambitious with our design. In the future, we should probably design with implementation in mind (just as an architect keeps into account the funds and resources he has available when designing a building).

[2013-04-18 08:12] ghost commented on #47
oops, sorry, here is the new link:
https://github.com/GatechVIP/no-code/wiki/Usability-Testing-vs-Market-Research

[2013-04-18 08:12] #47 closed, assigned to nobody

[2013-04-18 08:19] ghost commented on #49
For good luck:
![tumblr_lxa8dsfv6D1r7yvmwo1_400](https://f.cloud.github.com/assets/3238771/395499/a2224a00-a800-11e2-89fc-e374e0244105.gif)

[2013-04-18 14:32] penghou620 commented on #49
Does everyone should have his/her own PowerPoint?
—
Sent from Mailbox for iPhone

On Thu, Apr 18, 2013 at 4:19 AM, Richard Duan notifications@github.com
wrote:

[2013-04-18 14:55] pongad commented on #49
No, the entire team should have one power point. Each member of the front-end team should be contributing to one (either student prototype or instructor prototype). The backend team will be contributing to two: the instructor prototype we helped with and the Great Hilary Experiment.

[2013-04-18 15:02] penghou620 commented on #49
How does the backend team split up the job?
—
Sent from Mailbox for iPhone

On Thu, Apr 18, 2013 at 10:55 AM, Michael Darakananda
notifications@github.com wrote:

[2013-04-18 15:08] pongad commented on #49
That is a beautiful question. @Webs961 @sichinumi?

[2013-08-26 02:43] ghost opened #50 "Are we still using this repository?"
This place seems cold and depressing.

[2015-11-18 04:52] pongad commented on #18
I assume this is not used anymore, can someone close this issue? :smile:

[2015-11-30 14:19] #18 closed, assigned to nobody